* {
    margin: 0;
    padding: 0;
}

body {
    background: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#game-canvas {
    border-radius: 25px;
    width: 512px;
    height: 512px;
}